body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: floralwhite;
}
html {
	font-size: 62.5%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5em;
	background-color: rgba(255, 182, 193, 0.377);
	border-radius: 2em;
}
header {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: deeppink;
	margin: 1em 0em;
}
button {
	border-radius: 0.5em;
	padding: 0.2em 0.5em;
	margin: 0.5em;
	background-color: deeppink;
	color: white;
	border: none;
}
.list {
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 1.2rem;
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.buttons-box {
	padding-left: 5em;
}
